.node {
cursor: pointer;
}
.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1px;
}
.node text {
font: 10px sans-serif;
}

.node-active {
cursor: pointer;
}
.node-active circle {
fill: #b00;
stroke: #b00;
stroke-width: 2px;
}
.node-active text {
font: 10px sans-serif;
color:#b00;
}

.link {
fill: none;
stroke: #ccc;
stroke-width: 1px;
}
.active {
fill: none;
stroke: #b00;
stroke-width: 2px;
}
svg{border:1px solid #ccc;margin:0 auto;display:block;}
.topmenu{}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }